/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

.box-image {
  border-radius: 20px;
  border: 3px solid;
  /* border-block-color: red; */
  /* background-color: #dbd6b3; */
  /* padding: 15px; */
}


.clients-item {
  float: left;
}

.clients-item {
  /* background-color: azure; */
  border-radius: 20px;
  /* padding: 2px; */
  margin: 15px;
}
.body {
  height: auto;
  width: 100%;
}
:root {
  /* --navbar-height: 100px; */
  height: 400px;
  width: 100%;
}
.header {
  height: 100px;
  background-color: rgb(63, 63, 63);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* For logo and image */
.main-body {
  height: auto;
  background-color: blueviolet;
  width: 100%;
}
/* For logo and image */
#logo {
  margin: 0px 10px;
  height: 85px;
}
#logo img {
  display: inline-block;
  height: 64px;
  margin: 6px 13px;
  width: 64px;
  /* border: 2px solid rgb(102, 15, 15); */
}
/* For navigation:list styling  */
#navbar {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0px;
    font-family: 'Lato', sans-serif;
}
#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  font-size: 1.9em;
}
#navbar ul li a {
  display: block;
  border-radius: 43px;
  color: white;
  padding: 7px 21px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}
/* Home section */
#home {
  display: flex;
  /* background-color: bisque; */
  flex-direction: column;
  padding: 3px 200px;
  height: 610px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  background: url(/image/tomatoes-5365186_1920.jpg);
  position: absolute;

  height: 630px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.98;
}
#home h1 {
  color: #2f2f2f;
  text-align: center;
  font-size: 2.9rem;
    font-family: 'Lato', sans-serif;
}
#home p {
  color: #636363;
  text-align: center;
  font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}
/* Services Center*/
.service-box {
  /* display:contents; */
  background-color: rgb(216, 184, 142);
}
#services {
  /* margin: 35px; */
  width: 100%;
  display: table;
}
#services .box {
  border: 3px solid brown;
  padding: 10px;
  float: left;
  width: 350px;
  height: 500px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(201 190 175);
}
#services .box p {
    font-family: 'Lato', sans-serif;
  padding: 10px;
}
#services .box img {
  height: 200px;
  width: 340px;
  margin: auto;
}

img {
  border-radius: 20px;
}

/* Utility class */
.h-primary {
  padding: 12px;
  font-size: 3.8rem;
    font-family: 'Lato', sans-serif;
  color: rgb(19, 9, 9);
  margin: 2px 10px;
}
.h-secondary {
  padding: 12px;
  font-size: 2.3rem;
    font-family: 'Lato', sans-serif;
}
.btn {
  padding: 6px 20px;
  border: 2px solid white;
  margin: 17px;
  background-color: brown;
  color: white;
  border-radius: 9px;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn:hover {
  background: rgb(3, 2, 0);
}
.center {
  text-align: center;
  /* font-family: 'Balsamiq Sans', cursive; */
}
#services p {
  /* text-align: center; */
}
/* Clients section */
.client-box {
  background-color: bisque;
  display: table;
  width: 100%;
}
#clients {
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#clients img {
  height: 200px;
  width: 200px;
  margin: 4px;
}
.client-item {
  padding: 20px;
  height: 200px;
  width: 200px;
  float: left;
}
#client-section::before {
  /* content: ""; */
  position: absolute;
  height: 287px;
  width: 100%;
}
/* Contact Area */
#contact {
  position: relative;
  background-color: rgb(216, 184, 142);
  padding-top: 50px;
}
#contact::before {
  background: url(image/food-delivery6571583_1920.jpg) no-repeat center
    center/cover;
  z-index: -1;
  position: absolute;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  content: "";
}
footer {
  background-color: black;
  color: white;
  padding: 9px 20px;
  height: 70px;
}
#contact-box label {
  font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
}
#contact-box form {
  width: 40%;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 53px;
}
#contact-box input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  border-width: 5px;
  border: 2px solid black;
}
