/* CSS Reset */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height: 59px;
}

/* For logo and image */

#logo{
    margin: 0px 10px;
    height: 85px;

}

#logo img{
    display: inline-block;
    height: 64px;
    margin: 6px 13px;
    width: 64px;
    /* border: 2px solid rgb(102, 15, 15); */
}

/* For navigation:list styling  */

#navbar{
    position:sticky;
    top: 0px;
    
    display: flex;
    align-items: center;
    top: 0px;
    font-family: 'Balsamiq Sans', cursive;
   

}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#navbar ul li{
    list-style: none;
    font-size: 1.9em;
} 
#navbar ul li a{
    display: block;
    border-radius: 43px;
    color: white;
    padding: 7px 21px;
    text-decoration: none;   
}

#navbar ul li a:hover{
    
    color: black;
    background-color: white;
}

/* Home section */
 
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 610px;
    justify-content: center;
    align-items: center;
    
}
#home::before{
    content: "";
    background: url('image/tomatoes-5365186_1920.jpg') no-repeat center center/cover ; 
    position: absolute;
    
    height: 630px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.98;
}

#home h1{
    color: white;
    text-align: center;
    font-size: 2.9rem;
     font-family: 'Balsamiq Sans', cursive;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
     font-family: 'Balsamiq Sans', cursive;
}

/* Services Center*/

#services{
margin: 35px;
display: flex;

}

#services .box{
border: 3px solid brown;
padding: 34px;
margin: 2px 25px;
margin-bottom: 20px;
border-radius: 30px;
background-color: rgb(235, 222, 222);
}

#services .box p{
    font-family:  'Balsamiq Sans', cursive;
    padding: 10px;
}

#services .box img{
    height: 180px;
    margin: auto;
    display: block;
}
 

/* Utility class */
.h-primary{
    
    padding: 12px;
    font-size: 3.8rem; 
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(19, 9, 9);
    margin: 2px 10px;
}


.h-secondary{
    padding: 12px;
    font-size: 2.3rem;
    font-family: 'Balsamiq Sans', cursive;
   
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    margin: 17px;
    background-color: brown;
    color: white;
    border-radius: 9px;
    font-size: 1.3rem;
    cursor: pointer;
}

 .btn:hover{
    background: rgb(3, 2, 0);
}
.center {
    text-align: center;
    /* font-family: 'Balsamiq Sans', cursive; */
   
}
 #services p{
     text-align:center;
 }
 
 
/* Clients section */
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 126px;
    margin: 4px;
}

.client-item{
    padding: 34px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('image/-foods-background-3212148_1920.jpg') no-repeat center center/cover;
    z-index: -1;
    height: 287px;
    width: 100%;
    opacity: .77;
}

/* Contact Area */
#contact{
    position: relative;
    padding-top: 50px;
}

#contact::before{
    background: url(image/food-delivery6571583_1920.jpg) no-repeat center center/cover;
    z-index: -1;
    position: absolute;
    opacity: .3;
    height: 100%;
    width: 100%;
    content: "";
}

footer{
    background-color:black ;
    color: white;
    padding: 9px 20px;
    height: 70px;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Balsamiq Sans';
}
#contact-box form{
    width: 40%;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 53px;
}
#contact-box input , textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    border-width: 5px;
    border: 2px solid black;

}